<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/">Lista de Restaurantes</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <form>
        <label for="restaurantName">Nome do restaurante</label>
        <input #restaurantName (keyup)="0" type="text" class="form-control" id="restaurantName">
        <br>
        <button (click)="onPost(restaurantName.value)" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>
